.inventoryPage {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to bottom, #fa6161, #fffcfc);
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
}

.pageTitle {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
    padding: 20px 10px;
  }
}

